<div class="col-xs-6 col-xs-offset-3">
  <div class="card">
    <div class="card-content">
      <div class="col-xs-4">
        <div class="thumbnail-img">
          <%= image_tag "user.png" %>
        </div>
      </div>

      <h2><%= @user.username %></h2>
      <h5>Joined
        <%= @user.created_at.strftime("%B %Y") %></h5>
      <br/>
      <h4>
        <%= @user.comments.count %>
        comments</h4>
      <h4>
        <%= @user.places.count %>
        Gnomsters</h4>

      <div class="clear"></div>
      <br/>
      <h2 class="text-left">Comments</h2>
      <br/>
      <% @user.comments.each do |comment| %>
      <h4 class="text-left"><%= link_to comment.place.name, place_path(comment.place) %></h4>
      <blockquote>
        <% if comment.ux_interface_rating.present? %>
        <b><%= comment.ux_interface_rating %></b>
        -
        <% end %>
        <%= comment.message %>
      </blockquote>

      <% end %>

      <div class="clear"></div>
      <h2 class="text-left">Gnomsters</h2>
      <br/>
      <% @user.places.each do |place| %>
      <h1><%= link_to place.name, place_path(place) %></h1>
      <h4><%= place.address %></h4>
      <p><%= place.description %></p>
      <% if place.user.present? %>
      <h6><%= place.user.username %></h6>
      <br/>
      <% end %>

      <% if place.comments.present? %>

    </div>
    <% end %>

    <% end %>

  </div>
</div>
