<%= @places.each do |place| %>
  <div class="booyah-box col-xs-6 col-xs-offset-3">
    <h1><%= link_to place.name, place_path(place), :class =>"title" %></h1><br />
    <h5><%= place.address %></h5><br  /><br  />
    <p><%= place.description %></p><br  />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>
<% end %>

<div class="pages col-xs-6 col-xs-offset-3">
  <%= will_paginate @places %>
</div>
