<%= @places.each do |place| %>
<div class="col-xs-4 col-xs-offset-2">
  <div class="card">
    <div class="card-content">
      <% if place.photos.last.picture.present? %>
      <%= image_tag place.photos.last.picture, :class => "thumbnail center" %>
      <% end %>
      <br/>
      <div class="clear"></div>

      <div class="text-center">
        <h1><%= link_to place.name, place_path(place), :class =>"title center" %></h1>
        <h5><%= place.address %></h5><br/>
        <div class="text-left">
          <p><%= place.description %></p><br/>
        </div>

      </div>

      <!-- <% if place.user.present? %>
      <small><%= place.user.email %></small>
      <% end %> -->

      <% if place.comments.present? %>

      <blockquote>
        <% if place.comments.last.ux_interface_rating.present? %>
        <b><%= place.comments.last.ux_interface_rating %></b>
        <% end %>
        <small></small><%= place.comments.last.message %></small>
      <small><%= place.comments.last.user.email %></small>
    </blockquote>
  </div>
  <% end %>
</div>
</div>

</div>
<% end %>

<div class="pages col-xs-6 col-xs-offset-3">
<%= will_paginate @places %>
</div>

</div>
