<div class="booyah-box col-xs-6 col-xs-offset-3">
  <h1>New Gnomster</h1>
  <%= simple_form_for @place do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price, collection: ["$", "$$", "$$$", "$$$$"] %>
  <%= f.input :foodtype, collection: ["Chinese", "Japanese", "Thai", "New American", "Fast Casual", "Fast Food", "Mexican", "Cajun", "Mediterranean", "French", "Barbecue", "Middle Eastern", "Eastern European", "Korean", "Nigerian", "Pub", "Chain"] %>
  <br/>
  <%= f.submit 'Add It!', class: 'btn btn-primary' %>
  <% end %>
</div>
