<div class="booyah-box col-xs-6 col-xs-offset-3">
  <h1>New Gnomster</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br  />
    <%= f.submit 'Add It!', class: 'btn btn-success' %>
  <% end %>
</div>
