<!-- Place Heading -->
<div class="booyah-box col-xs-6 col-xs-offset-3">
  <h1><%= @place.name %></h1>
  <h5><%= @place.address %></h5>
  <br />
  <p><%= @place.description %></p>
  <br />

<!-- Place Adress: Google Map Box -->
  <% if @place.latitude.present? && @place.longitude.present? %>
      <script>
        function initMap() {
          var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjpAd6FYwsO6x9nsy14J9T9LVu5Inao98&callback=initMap">
      </script>
    <div id="map"></div>
  <% end %>
<br />

<!--Button Trigger Photo Modal -->
<button type="button" class="glyphicon glyphicon-camera" data-toggle="modal" data-target="#myPhotoModal"></button>

<!--Button Trigger Comment Modal -->
<button type="button" class="glyphicon glyphicon-comment" data-toggle="modal" data-target="#myCommentModal"></button>

<!-- Edit Individual Place Links -->
  <div class="pull-right">
      <% if current_user && current_user == @place.user %>
        <%= link_to "", edit_place_path(@place), class: "glyphicon glyphicon-pencil" %>
        <%= link_to "", place_path(@place), method: :delete, data: {confirm: "Warning: Delete This Gnomster Forever?"}, class: "glyphicon glyphicon-trash" %>
      <% end %>
  </div>
</div>
<div class="clear"></div>

<!-- Place Comment Modal -->
  <div class="modal fade" id="myCommentModal" tabindex="-1" role="dialog" aria-labelledby="myCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myCommentModalLabel">Review This Gnomster:</h4>
        </div>
        <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
          <div class="modal-body">
            <%= f.input :message %>
            <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
              <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Place Photo Modal -->
  <div class="modal fade" id="myPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myPhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myPhotoModalLabel">Add a Photo:</h4>
        </div>
        <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
          <div class="modal-body">
            <%= f.input :caption %>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
              <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
          <% end %>
    </div>
  </div>
</div>

<div class="col-xs-10 col-xs-offset-1">

<h1 class="pull-left">Reviews</h1>

  </div>
  <div class="clear"></div>
  </div>

<!--Place Comment Box -->

  <div class="comment-color">
    <% @place.comments.each do |comment| %>
      <div class="col-xs-12 col-sm-6">
        <blockquote>
          <% if comment.ux_interface_rating.present? %>
            <b><%= comment.ux_interface_rating %></b> -
          <% end %>
            <%= comment.message %>
            <small><%= comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
</div>
