<div class="booyah-box col-xs-6 col-xs-offset-3">
  <h1><%= @place.name %></h1>
  <h5><%= @place.address %></h5>
  <br />
  <p><%= @place.description %></p>

<!-- Google Map Box -->
  <% if @place.latitude.present? && @place.longitude.present? %>
      <script>
        function initMap() {
          var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjpAd6FYwsO6x9nsy14J9T9LVu5Inao98&callback=initMap">
      </script>

    <div id="map"></div>
  <% end %>
<br />
  <div class="pull-right">
      <% if current_user && current_user == @place.user %>
        <%= link_to "", edit_place_path(@place), class: "glyphicon glyphicon-pencil" %>
        <%= link_to "", place_path(@place), method: :delete, data: {confirm: "Warning: Delete This Gnomster Forever?"}, class: "glyphicon glyphicon-trash" %>
      <% end %>
  </div>
</div>
<div class="clear"></div>

<!-- Button trigger modal -->
<button class="glyphicon glyphicon-comment" data-toggle="modal" data-target="#myModal"></button>

<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Review This Gnomster:</h4>
        </div>
        <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
          <div class="modal-body">
            <%= f.input :message %>
            <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal">Cancel</button>
              <%= f.submit "Submit", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <h1>Reviews</h1>
  <% @place.comments.each do |comment| %>
    <div>
      <blockquote>
        <% if comment.ux_interface_rating.present? %>
          <b><%= comment.ux_interface_rating %></b> -
        <% end %>
          <%= comment.message %>
          <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
